/* CSS Reset */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", sans-serif;
  background-color: #222222;
  color: #fafafa;
}

pre {
  margin: 0 0 0 2em;
  display: inline-block;
}

pre,
code {
  font-family: Consolas, monospace;
}

code span {
  display: inline-block;
}

.card {
  display: none;
  position: absolute;
  padding: 0.2em 0.3em;
  border: 1px solid #f0f0f0;
  background-color: #0f0f0f;
  color: #fafafa;
}

.code-item:hover {
  outline: 1px solid red;
  outline-offset: 1px;
}

.code-item:hover .card {
  display: flex;
  flex-direction: column;
}

ol {
  margin: 0.5em 0;
  width: max-content;
}

/* li:hover {
  background-color: #151515;
} */

/* Classes for syntax highlighting of tokens. */
.constant {
  color: blue;
}

.number {
  color: cyan;
}
